.grid {
	height: 60%;
	box-sizing: border-box;

	.grid__item {
		height: 100%;
	}
}

.player-container {
	height: 100%;
	padding: 20px;
	margin: 10px;
	font-weight: 600;
	color: color('white');
	border-width: 3px;
	border-style: dashed;
	border-color: color('dark-blue');
	border-radius: 15px;

	h2 {
		font-size: 4em;
	}
}
