%h1.text--align-center.block--margin
	Rock Paper Scissor

.score-container.text--align-center
	%span.player-score 0
	%span -
	%span.comp-score 0
.grid
	.grid__item.one-half.text--align-center<>
		.player-container.player
			%h2
				Waiting for player...
			.debug-container.vertical-centering
	.grid__item.one-half.text--align-center<>
		.player-container.computer
			%h2
				Computer
			.debug-container.vertical-centering

.overlay.text--align-center
	%h2
		Recognition starting...



